[submodule "Underground"]
	path = Underground
	url = https://github.com/Cimetiere-des-Innocents/Underground-121.git
[submodule "CDICore"]
	path = CDICore
	url = https://github.com/Cimetiere-des-Innocents/CDICore.git
[submodule "CDILib"]
	path = CDILib
	url = https://github.com/Cimetiere-des-Innocents/CDILib.git
